<div class='click relative'>
  <div class='field field--select'>
    <span class='text text--light'>Choose...</span>
  </div>
  <select class='field__select relative'>
    <option value='dog'>Dog</option>
    <option value='cat'>Cat</option>
    <option value='hamster'>Hamster</option>
    <option value='parrot'>Parrot</option>
    <option value='spider'>Spider</option>
  </select>
</div>