:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 245);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* ============================ */

.page {
  background-color: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ============================ */

.header {
  padding: var(--space-l) 0;

  border-bottom: var(--color-border) 1px solid;

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background-color: var(--color-primary);

  border-radius: calc(var(--border-radius) / 2);

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 140%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;

  border-top: var(--color-border) 1px solid;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: inline-block;

  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}

.hero {
  display: flex;

  align-items: center;
  gap: var(--space-b);

  padding: var(--space-b);
  border-bottom: var(--color-border) 1px solid;
}

.hero_image {
  height: 500px;
  width: 500px;
  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.hero_title {
  font-size: 50px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.hero_text {
  color: #5a5a5a;
  font-size: var(--size-l);
  font-weight: var(--weight-text);
  line-height: 120%;
}

.blog {
  display: flex;
  gap: var(--space-b);

  padding: var(--space-b);
  border-bottom: var(--color-border) 1px solid;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--size-l);
}

.card_image {
  height: 140px;
  width: 140px;
  border-radius: 50px;
}

.card_title {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius);
}

.card_button {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  font-size: 27px;
  font-weight: var(--weight-title);
  color: var(--color-white);
}

.font_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.form_button {
  background-color: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
}
